<header>
  <div class="container">
    <ul class="menu">
      <li>
        <a href="{{ site.baseurl }}/" style="font-weight: 900">simple<span class="brand">is</span>better<span class="brand">than</span>complex</a>
      </li>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ "/about/" | prepend: site.baseurl }}">About</a></li>
      <li><a href="{{ "/contact/" | prepend: site.baseurl }}">Contact</a></li>
      <li><a href="{{ "/ref/" | prepend: site.baseurl }}">Reference Guides</a></li>
      <li><a href="http://eepurl.com/b0gR51" class="brand" target="_blank">Subscribe</a></li>
    </ul>
  </div>
</header>
<div class="container masthead">
  <h1>
    <a href="{{ site.baseurl }}/" class="logo">
      simple <span>is</span> better <span>than</span> complex
    </a>
  </h1>
</div>