<header>
  <div class="container">
    <ul class="menu menu-right">
      <li>
        <a href="{{ "/search/" | prepend: site.baseurl }}">
          <span class="fa fa-search"></span>
        </a>
      </li>
      <li class="toggle-menu">
        <a href="javascript:void(0);">
          <span class="fa fa-bars"></span>
        </a>
      </li>
    </ul>
    <ul class="menu menu-left">
      <li class="logo">
        <a href="{{ site.baseurl }}/" style="font-weight: 900">simple<span class="brand">is</span>better<span class="brand">than</span>complex</a>
      </li>
      <li class="menu-item">
        <a href="{{ site.baseurl }}/">
          <span class="fa fa-home" style="margin-right: 3px"></span>
          Home
        </a>
      </li>
      <li class="menu-item">
        <a href="{{ "/about/" | prepend: site.baseurl }}">
          <span class="fa fa-info-circle" style="margin-right: 3px"></span>
          About
        </a>
      </li>
      <li class="menu-item">
        <a href="{{ "/contact/" | prepend: site.baseurl }}">
          <span class="fa fa-envelope" style="margin-right: 3px"></span>
          Contact
        </a>
      </li>
      <li class="menu-item">
        <a href="{{ "/articles/" | prepend: site.baseurl }}">
          <span class="fa fa-book" style="margin-right: 3px"></span>
          Articles
        </a>
      </li>
      <li class="menu-item">
        <a href="{{ "/ref/" | prepend: site.baseurl }}">
          <span class="fa fa-bookmark" style="margin-right: 3px"></span>
          References
        </a>
      </li>
      <li class="menu-item">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">
          <span class="fa fa-rss" style="margin-right: 3px"></span>
          RSS
        </a>
      </li>
      <li class="menu-item">
        <a href="http://eepurl.com/b0gR51" class="brand" target="_blank">
          <span class="fa fa-send" style="margin-right: 3px"></span> Subscribe
        </a>
      </li>
    </ul>
  </div>
</header>