<ul class="popular-posts">
  <li>
    <a href="/2015/12/04/package-of-the-week-django-widget-tweaks.html">
      <img src="/media/2015-12-04-package-of-the-week-django-widget-tweaks/featured-post-image.jpg">
      Package of the Week: Django Widget Tweaks
    </a>
  </li><li>
    <a href="/2015/11/26/package-of-the-week-python-decouple.html">
      <img src="/media/2015-11-26-package-of-the-week-python-decouple/featured-post-image.jpg">
      Package of the Week: Python Decouple
    </a>
  </li><li>
    <a href="/2015/11/23/small-open-source-django-projects-to-get-started.html">
      <img src="/media/2015-11-23-small-open-source-django-projects-to-get-started/featured-post-image.jpg">
      Small Open-Source Django Projects to Get Started
    </a>
  </li>
</ul>